extends ../blocks/main.pug

block variables
    - var pageTitle = "X2712345678"
    mixin tableLineBasic(parametr, value, status, statusValue, request)
        tr.table__line
            td.table__item.table__item_body= parametr
            td.table__item.table__item_body= value
            td.table__item.table__item_body
                if request
                    .status.status_minimal.status_warning(data-type=status data-toggle="tooltip" data-placement="top" title="new request")= statusValue
                        svg.status__icon(data-type=status width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M7.35385 4H8.65769L8.43846 9.42776H7.56154L7.35385 4ZM8.01154 12C7.79615 12 7.61538 11.932 7.46923 11.796C7.32308 11.6525 7.25 11.4788 7.25 11.2748C7.25 11.0708 7.32308 10.9009 7.46923 10.7649C7.61538 10.6213 7.79615 10.5496 8.01154 10.5496C8.22692 10.5496 8.40385 10.6213 8.54231 10.7649C8.68077 10.9009 8.75 11.0708 8.75 11.2748C8.75 11.4788 8.67692 11.6525 8.53077 11.796C8.39231 11.932 8.21923 12 8.01154 12Z")
                            path(d="M4 1H12V-1H4V1ZM15 4V12H17V4H15ZM12 15H4V17H12V15ZM1 12V4H-1V12H1ZM4 15C2.34315 15 1 13.6569 1 12H-1C-1 14.7614 1.23858 17 4 17V15ZM15 12C15 13.6569 13.6569 15 12 15V17C14.7614 17 17 14.7614 17 12H15ZM12 1C13.6569 1 15 2.34315 15 4H17C17 1.23858 14.7614 -1 12 -1V1ZM4 -1C1.23858 -1 -1 1.23858 -1 4H1C1 2.34315 2.34315 1 4 1V-1Z")
                else
                    .status.status_minimal(data-type=status)= statusValue
            td.table__item.table__item_body.table__item_action-body
                select.select.select_table(data-placeholder="Action")
                    option 
                    option(value="1" data-action="#changeParamModal" data-type="modal") Change
                    option(value="2" data-action="#requestParamModal" data-type="modal") Add request
                    if request
                        option(value="3" data-action="#requestViewModal" data-type="modal") View request
    mixin tableLineBasicSmall(parametr, value, status)
        tr.table__line
            td.table__item.table__item_body= parametr
            td.table__item.table__item_body= value
            td.table__item.table__item_body= status
            td.table__item.table__item_body.table__item_action-body
                select.select.select_table(data-placeholder="Action")
                    option 
                    option(value="1" data-action="" data-type="") Change
                    option(value="2" data-action="" data-type="") Full information
    mixin tableLineDevice(device, model, serial, firmware, firmwareStatus, status)
        tr.table__line
            td.table__item.table__item_body= device
            td.table__item.table__item_body= model
            td.table__item.table__item_body= serial
            td.table__item.table__item_body= firmware
            td.table__item.table__item_body
                .status.status_minimal(data-type=status)= firmwareStatus
            td.table__item.table__item_body.table__item_action-body
                select.select.select_table(data-placeholder="Action")
                    option 
                    option(value="2" data-action="vehicle-display.html" data-type="link") Enter
                    option(value="1" data-action="" data-type="") Change
    mixin tableLineConnect(parametr, connection, data)
        tr.table__line
            td.table__item.table__item_body= parametr
            td.table__item.table__item_body
                if connection
                    .status.status_label(data-type="true") On
                else
                    .status.status_label(data-type="false") Off
            td.table__item.table__item_body= data
            td.table__item.table__item_body.text-end
                a.btn.btn-secondary.btn--small(href="#") Refresh
block content
    .content
        .content__inside
            .content__inside-container
                .container-fluid
                    .row.align-items-center.content__heading
                        .col-12.col-lg-7
                            .content__heading-left
                                h1.h5.content__title X2712345678
                                ul.breadcrumb
                                    li.breadcrumb-item
                                        a.breadcrumb__link.breadcrumb__home(href="dashboard.html") 
                                            svg.breadcrumb__home-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M1.05938 6.90431L6.69082 1.27697C6.73137 1.23634 6.77953 1.20411 6.83255 1.18212C6.88557 1.16012 6.94241 1.1488 6.99981 1.1488C7.05721 1.1488 7.11404 1.16012 7.16706 1.18212C7.22008 1.20411 7.26824 1.23634 7.30879 1.27697L12.9402 6.90431C13.1043 7.06837 13.1973 7.29122 13.1973 7.52365C13.1973 8.00626 12.8049 8.39865 12.3223 8.39865H11.7289V12.4141C11.7289 12.6561 11.5334 12.8516 11.2914 12.8516H7.87481V9.78908H6.34356V12.8516H2.70821C2.46621 12.8516 2.27071 12.6561 2.27071 12.4141V8.39865H1.67735C1.44493 8.39865 1.22207 8.30704 1.05801 8.14161C0.717583 7.79982 0.717583 7.24611 1.05938 6.90431Z")
                                    li.breadcrumb-item
                                        a.breadcrumb__link(href="vehicles.html") Vehicles Base
                                    li.breadcrumb-item.active X2712345678
                        .col-12.col-lg-5
                            .content__heading-right
                                .content__heading-search
                                    form.form.form_search
                                        span.form_search__icon
                                        input.input.form_search__input(type="text" placeholder="Search")
                                .content__heading-action
                                    //- a.btn.btn-secondary(href="#") Edit Info
                                    a.btn.btn-secondary.open-all-toggles(href="#") Open all
                    .content__tabs
                        a.content__tabs-item.content__tabs-item--parent(href="vehicle.html") Vehicle
                        a.content__tabs-item(href="vehicle-display.html") Display
                            svg.content__tabs-close(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                    .toggle
                        .toggle__title.toggle__title_has-btn
                            .toggle__icon
                                svg.toggle__icon-plus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41658H7.58337V2.91659C7.58337 2.76188 7.52191 2.6135 7.41252 2.50411C7.30312 2.39471 7.15475 2.33325 7.00004 2.33325C6.84533 2.33325 6.69696 2.39471 6.58756 2.50411C6.47817 2.6135 6.41671 2.76188 6.41671 2.91659V6.41658H2.91671C2.762 6.41658 2.61362 6.47804 2.50423 6.58744C2.39483 6.69684 2.33337 6.84521 2.33337 6.99992C2.33337 7.15463 2.39483 7.303 2.50423 7.4124C2.61362 7.52179 2.762 7.58325 2.91671 7.58325H6.41671V11.0833C6.41671 11.238 6.47817 11.3863 6.58756 11.4957C6.69696 11.6051 6.84533 11.6666 7.00004 11.6666C7.15475 11.6666 7.30312 11.6051 7.41252 11.4957C7.52191 11.3863 7.58337 11.238 7.58337 11.0833V7.58325H11.0834C11.2381 7.58325 11.3865 7.52179 11.4959 7.4124C11.6052 7.303 11.6667 7.15463 11.6667 6.99992C11.6667 6.84521 11.6052 6.69684 11.4959 6.58744C11.3865 6.47804 11.2381 6.41658 11.0834 6.41658Z")
                                svg.toggle__icon-minus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41675C4.38139 6.41675 9.61869 6.41675 2.91671 6.41675C2.762 6.41675 2.61362 6.47821 2.50423 6.5876C2.39483 6.697 2.33337 6.84537 2.33337 7.00008C2.33337 7.15479 2.39483 7.30316 2.50423 7.41256C2.61362 7.52196 2.762 7.58341 2.91671 7.58341C9.55666 7.58341 4.44342 7.58341 11.0834 7.58341C11.2381 7.58341 11.3865 7.52196 11.4959 7.41256C11.6052 7.30316 11.6667 7.15479 11.6667 7.00008C11.6667 6.84537 11.6052 6.697 11.4959 6.5876C11.3865 6.47821 11.2381 6.41675 11.0834 6.41675Z")
                            .toggle__title-text Basic info
                        .toggle__content
                            .table-responsive
                                table.table
                                    thead.table__head
                                        tr.table__line
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Parametr
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Value
                                            th.table__item.table__item_head.table__item_fill
                                                .table__item-no-sortable Approval Status
                                            th.table__item.table__item_head.table__item_action
                                    tbody.table__body
                                        +tableLineBasic('VIN Number','X2712345680', "true", 'Done')
                                        +tableLineBasic('Model','CG-H7LR', "true", 'Done')
                                        +tableLineBasic('Generation','03.2022-08.2024', "true", 'Done')
                                        +tableLineBasic('Production date','02.04.2022', "true", 'Done')
                                        +tableLineBasic('Color/Style','Black Gloss', "warning", 'Required', true)
                                        +tableLineBasic('Manufacturer','Carbogatto', "true", 'Done')
                                        +tableLineBasic('Shipment date','07.04.2022', "true", 'Done')
                                        +tableLineBasic('Activate Date','21.05.2022', "true", 'Done')
                                        +tableLineBasic('Primary PSC','#077 Marbella Bike', "warning", 'Required')
                                        +tableLineBasic('Stolen status','Positive', "true", 'Done')
                    .toggle
                        .toggle__title
                            .toggle__icon
                                svg.toggle__icon-plus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41658H7.58337V2.91659C7.58337 2.76188 7.52191 2.6135 7.41252 2.50411C7.30312 2.39471 7.15475 2.33325 7.00004 2.33325C6.84533 2.33325 6.69696 2.39471 6.58756 2.50411C6.47817 2.6135 6.41671 2.76188 6.41671 2.91659V6.41658H2.91671C2.762 6.41658 2.61362 6.47804 2.50423 6.58744C2.39483 6.69684 2.33337 6.84521 2.33337 6.99992C2.33337 7.15463 2.39483 7.303 2.50423 7.4124C2.61362 7.52179 2.762 7.58325 2.91671 7.58325H6.41671V11.0833C6.41671 11.238 6.47817 11.3863 6.58756 11.4957C6.69696 11.6051 6.84533 11.6666 7.00004 11.6666C7.15475 11.6666 7.30312 11.6051 7.41252 11.4957C7.52191 11.3863 7.58337 11.238 7.58337 11.0833V7.58325H11.0834C11.2381 7.58325 11.3865 7.52179 11.4959 7.4124C11.6052 7.303 11.6667 7.15463 11.6667 6.99992C11.6667 6.84521 11.6052 6.69684 11.4959 6.58744C11.3865 6.47804 11.2381 6.41658 11.0834 6.41658Z")
                                svg.toggle__icon-minus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41675C4.38139 6.41675 9.61869 6.41675 2.91671 6.41675C2.762 6.41675 2.61362 6.47821 2.50423 6.5876C2.39483 6.697 2.33337 6.84537 2.33337 7.00008C2.33337 7.15479 2.39483 7.30316 2.50423 7.41256C2.61362 7.52196 2.762 7.58341 2.91671 7.58341C9.55666 7.58341 4.44342 7.58341 11.0834 7.58341C11.2381 7.58341 11.3865 7.52196 11.4959 7.41256C11.6052 7.30316 11.6667 7.15479 11.6667 7.00008C11.6667 6.84537 11.6052 6.697 11.4959 6.5876C11.3865 6.47821 11.2381 6.41675 11.0834 6.41675Z")
                            .toggle__title-text Owner info
                        .toggle__content
                            .table-responsive
                                table.table
                                    thead.table__head
                                        tr.table__line
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Parametr
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Value
                                            th.table__item.table__item_head.table__item_fill
                                                .table__item-no-sortable Approval Status
                                            th.table__item.table__item_head.table__item_action
                                    tbody.table__body
                                        +tableLineBasic('First Name','Artem', "true", 'Done')
                                        +tableLineBasic('Last Name','Khayrullin', "true", 'Done')
                                        +tableLineBasic('Date of birth','07.04.1984', "true", 'Done')
                                        +tableLineBasic('Country','Russia', "true", 'Done')
                                        +tableLineBasic('City','Moscow', "true", 'Done')
                                        +tableLineBasic('Address','123100, Chernogryzskaya 2nd, d.6, k.1, of.3', "true", 'Done')
                                        +tableLineBasic('Primary Email','artemddi@gmail.com', "true", 'Done')
                                        +tableLineBasic('Reserve Email','artem@carbogatto.bike', "true", 'Done')
                                        +tableLineBasic('Mobile Phone 1','79857775090', "true", 'Done')
                                        +tableLineBasic('Mobile Phone 2','-', "warning", 'Required', true)
                                        +tableLineBasic('WhatsApp Number','79857775090', "warning", 'Required')
                                        +tableLineBasic('Telegram Number','79857775090', "warning", 'Required')
                                        +tableLineBasic('Facebook','-', "warning", 'Required')
                                        +tableLineBasic('Instagram','-', "warning", 'Required')
                                        +tableLineBasic('TikTok','-', "warning", 'Required')
                                        +tableLineBasic('Date of entry','31.03.2022', "true", 'Done')
                                        +tableLineBasic('Contract #','CGLR/310322', "true", 'Done')
                                        +tableLineBasic('Date of last inquiry','10.11.2022', "warning", 'Required')
                    .toggle
                        .toggle__title.toggle__title_has-btn
                            .toggle__icon
                                svg.toggle__icon-plus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41658H7.58337V2.91659C7.58337 2.76188 7.52191 2.6135 7.41252 2.50411C7.30312 2.39471 7.15475 2.33325 7.00004 2.33325C6.84533 2.33325 6.69696 2.39471 6.58756 2.50411C6.47817 2.6135 6.41671 2.76188 6.41671 2.91659V6.41658H2.91671C2.762 6.41658 2.61362 6.47804 2.50423 6.58744C2.39483 6.69684 2.33337 6.84521 2.33337 6.99992C2.33337 7.15463 2.39483 7.303 2.50423 7.4124C2.61362 7.52179 2.762 7.58325 2.91671 7.58325H6.41671V11.0833C6.41671 11.238 6.47817 11.3863 6.58756 11.4957C6.69696 11.6051 6.84533 11.6666 7.00004 11.6666C7.15475 11.6666 7.30312 11.6051 7.41252 11.4957C7.52191 11.3863 7.58337 11.238 7.58337 11.0833V7.58325H11.0834C11.2381 7.58325 11.3865 7.52179 11.4959 7.4124C11.6052 7.303 11.6667 7.15463 11.6667 6.99992C11.6667 6.84521 11.6052 6.69684 11.4959 6.58744C11.3865 6.47804 11.2381 6.41658 11.0834 6.41658Z")
                                svg.toggle__icon-minus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41675C4.38139 6.41675 9.61869 6.41675 2.91671 6.41675C2.762 6.41675 2.61362 6.47821 2.50423 6.5876C2.39483 6.697 2.33337 6.84537 2.33337 7.00008C2.33337 7.15479 2.39483 7.30316 2.50423 7.41256C2.61362 7.52196 2.762 7.58341 2.91671 7.58341C9.55666 7.58341 4.44342 7.58341 11.0834 7.58341C11.2381 7.58341 11.3865 7.52196 11.4959 7.41256C11.6052 7.30316 11.6667 7.15479 11.6667 7.00008C11.6667 6.84537 11.6052 6.697 11.4959 6.5876C11.3865 6.47821 11.2381 6.41675 11.0834 6.41675Z")
                            .toggle__title-text On-board devices
                            .toggle__title-btns
                                a.btn.btn-secondary.btn--small(href="#") Identify all devices
                                a.btn.btn-secondary.btn--small(href="#") Update all devices
                        .toggle__content
                            //- .d-flex.flex-wrap.mb-3
                            //-     .me-3.mb-3
                            //-         a.btn.btn-secondary.btn--small(href="#") Identify all devices
                            //-     .me-0.mb-3
                            //-         a.btn.btn-secondary.btn--small(href="#") Update all devices
                            .table-responsive
                                table.table
                                    thead.table__head
                                        tr.table__line
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Devices
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Model
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Serial №
                                            th.table__item.table__item_head
                                                .table__item-no-sortable Firmware
                                            th.table__item.table__item_head.table__item_fill
                                                .table__item-no-sortable Firmware status
                                            th.table__item.table__item_head.table__item_action
                                    tbody.table__body
                                        +tableLineDevice("Controller", "Silixcon SC", "-", "V11.3.001", "Actual", "true")
                                        +tableLineDevice("Distribution Board", "DT - DB1", "-", "V22.01.001", "Update", "warning")
                                        +tableLineDevice("Display", "DT - Monitor1", "-", "V22.01.001", "Actual", "true")
                                        +tableLineDevice("Units Board", "DT - PUB1", "-", "V22.01.001", "Actual", "true")
                                        +tableLineDevice("GPS Module", "TFT100", "-", "TFT10.4", "Update", "warning")
                                        +tableLineDevice("Right Remote", "DT-RR1", "-", "V22.01.001", "Actual", "true")
                                        +tableLineDevice("Left Remote", "DT-LR1", "-", "V22.01.001", "Actual", "true")
                                        +tableLineDevice("Battery BMS", "CG-Greenway 48", "-", "V21.32.1", "Actual", "true")
                    .toggle
                        .toggle__title
                            .toggle__icon
                                svg.toggle__icon-plus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41658H7.58337V2.91659C7.58337 2.76188 7.52191 2.6135 7.41252 2.50411C7.30312 2.39471 7.15475 2.33325 7.00004 2.33325C6.84533 2.33325 6.69696 2.39471 6.58756 2.50411C6.47817 2.6135 6.41671 2.76188 6.41671 2.91659V6.41658H2.91671C2.762 6.41658 2.61362 6.47804 2.50423 6.58744C2.39483 6.69684 2.33337 6.84521 2.33337 6.99992C2.33337 7.15463 2.39483 7.303 2.50423 7.4124C2.61362 7.52179 2.762 7.58325 2.91671 7.58325H6.41671V11.0833C6.41671 11.238 6.47817 11.3863 6.58756 11.4957C6.69696 11.6051 6.84533 11.6666 7.00004 11.6666C7.15475 11.6666 7.30312 11.6051 7.41252 11.4957C7.52191 11.3863 7.58337 11.238 7.58337 11.0833V7.58325H11.0834C11.2381 7.58325 11.3865 7.52179 11.4959 7.4124C11.6052 7.303 11.6667 7.15463 11.6667 6.99992C11.6667 6.84521 11.6052 6.69684 11.4959 6.58744C11.3865 6.47804 11.2381 6.41658 11.0834 6.41658Z")
                                svg.toggle__icon-minus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41675C4.38139 6.41675 9.61869 6.41675 2.91671 6.41675C2.762 6.41675 2.61362 6.47821 2.50423 6.5876C2.39483 6.697 2.33337 6.84537 2.33337 7.00008C2.33337 7.15479 2.39483 7.30316 2.50423 7.41256C2.61362 7.52196 2.762 7.58341 2.91671 7.58341C9.55666 7.58341 4.44342 7.58341 11.0834 7.58341C11.2381 7.58341 11.3865 7.52196 11.4959 7.41256C11.6052 7.30316 11.6667 7.15479 11.6667 7.00008C11.6667 6.84537 11.6052 6.697 11.4959 6.5876C11.3865 6.47821 11.2381 6.41675 11.0834 6.41675Z")
                            .toggle__title-text Connection Status
                        .toggle__content
                            .table-responsive
                                table.table
                                    thead.table__head
                                        tr.table__line
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Parametr
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Value
                                            th.table__item.table__item_head.table__item_fill
                                                .table__item-no-sortable Last connection
                                            th.table__item.table__item_head.table__item_action
                                    tbody.table__body
                                        +tableLineConnect("GPS Module status", true, "03.04.2022 0:34:00")
                                        +tableLineConnect("App status", false, "03.04.2022 0:00:00")
                                        +tableLineConnect("Direct status", false, "03.04.2022 0:00:00")
                    .toggle
                        .toggle__title
                            .toggle__icon
                                svg.toggle__icon-plus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41658H7.58337V2.91659C7.58337 2.76188 7.52191 2.6135 7.41252 2.50411C7.30312 2.39471 7.15475 2.33325 7.00004 2.33325C6.84533 2.33325 6.69696 2.39471 6.58756 2.50411C6.47817 2.6135 6.41671 2.76188 6.41671 2.91659V6.41658H2.91671C2.762 6.41658 2.61362 6.47804 2.50423 6.58744C2.39483 6.69684 2.33337 6.84521 2.33337 6.99992C2.33337 7.15463 2.39483 7.303 2.50423 7.4124C2.61362 7.52179 2.762 7.58325 2.91671 7.58325H6.41671V11.0833C6.41671 11.238 6.47817 11.3863 6.58756 11.4957C6.69696 11.6051 6.84533 11.6666 7.00004 11.6666C7.15475 11.6666 7.30312 11.6051 7.41252 11.4957C7.52191 11.3863 7.58337 11.238 7.58337 11.0833V7.58325H11.0834C11.2381 7.58325 11.3865 7.52179 11.4959 7.4124C11.6052 7.303 11.6667 7.15463 11.6667 6.99992C11.6667 6.84521 11.6052 6.69684 11.4959 6.58744C11.3865 6.47804 11.2381 6.41658 11.0834 6.41658Z")
                                svg.toggle__icon-minus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41675C4.38139 6.41675 9.61869 6.41675 2.91671 6.41675C2.762 6.41675 2.61362 6.47821 2.50423 6.5876C2.39483 6.697 2.33337 6.84537 2.33337 7.00008C2.33337 7.15479 2.39483 7.30316 2.50423 7.41256C2.61362 7.52196 2.762 7.58341 2.91671 7.58341C9.55666 7.58341 4.44342 7.58341 11.0834 7.58341C11.2381 7.58341 11.3865 7.52196 11.4959 7.41256C11.6052 7.30316 11.6667 7.15479 11.6667 7.00008C11.6667 6.84537 11.6052 6.697 11.4959 6.5876C11.3865 6.47821 11.2381 6.41675 11.0834 6.41675Z")
                            .toggle__title-text Explotation info
                        .toggle__content
                            .table-responsive
                                table.table
                                    thead.table__head
                                        tr.table__line
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Parametr
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Value
                                            th.table__item.table__item_head.table__item_fill 
                                                .table__item-no-sortable Data relevance
                                            th.table__item.table__item_head.table__item_action
                                    tbody.table__body
                                        +tableLineBasicSmall("Last Location", "Spain / Marbella", "23.06.2022")
                                        +tableLineBasicSmall("Odo (km/ml)", "953 km / 592 miles", "23.06.2022")
                                        +tableLineBasicSmall("Total Time Use (hours)", "45 h", "23.06.2022")
                                        +tableLineBasicSmall("Date of Last Use", "04.05.2022", "23.06.2022")
                                        +tableLineBasicSmall("Range Last Trip", "25.1 km / 15.3 miles", "23.06.2022")
                                        +tableLineBasicSmall("Time Last Trip", "1:23:34", "23.06.2022")
                                        +tableLineBasicSmall("Number of batteries in use", "2", "23.06.2022")
                    .toggle
                        .toggle__title
                            .toggle__icon
                                svg.toggle__icon-plus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41658H7.58337V2.91659C7.58337 2.76188 7.52191 2.6135 7.41252 2.50411C7.30312 2.39471 7.15475 2.33325 7.00004 2.33325C6.84533 2.33325 6.69696 2.39471 6.58756 2.50411C6.47817 2.6135 6.41671 2.76188 6.41671 2.91659V6.41658H2.91671C2.762 6.41658 2.61362 6.47804 2.50423 6.58744C2.39483 6.69684 2.33337 6.84521 2.33337 6.99992C2.33337 7.15463 2.39483 7.303 2.50423 7.4124C2.61362 7.52179 2.762 7.58325 2.91671 7.58325H6.41671V11.0833C6.41671 11.238 6.47817 11.3863 6.58756 11.4957C6.69696 11.6051 6.84533 11.6666 7.00004 11.6666C7.15475 11.6666 7.30312 11.6051 7.41252 11.4957C7.52191 11.3863 7.58337 11.238 7.58337 11.0833V7.58325H11.0834C11.2381 7.58325 11.3865 7.52179 11.4959 7.4124C11.6052 7.303 11.6667 7.15463 11.6667 6.99992C11.6667 6.84521 11.6052 6.69684 11.4959 6.58744C11.3865 6.47804 11.2381 6.41658 11.0834 6.41658Z")
                                svg.toggle__icon-minus(width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M11.0834 6.41675C4.38139 6.41675 9.61869 6.41675 2.91671 6.41675C2.762 6.41675 2.61362 6.47821 2.50423 6.5876C2.39483 6.697 2.33337 6.84537 2.33337 7.00008C2.33337 7.15479 2.39483 7.30316 2.50423 7.41256C2.61362 7.52196 2.762 7.58341 2.91671 7.58341C9.55666 7.58341 4.44342 7.58341 11.0834 7.58341C11.2381 7.58341 11.3865 7.52196 11.4959 7.41256C11.6052 7.30316 11.6667 7.15479 11.6667 7.00008C11.6667 6.84537 11.6052 6.697 11.4959 6.5876C11.3865 6.47821 11.2381 6.41675 11.0834 6.41675Z")
                            .toggle__title-text Service info
                        .toggle__content
                            .table-responsive
                                table.table
                                    thead.table__head
                                        tr.table__line
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Parametr
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable Value
                                            th.table__item.table__item_head 
                                                .table__item-no-sortable PSC №
                                            th.table__item.table__item_head.table__item_fill 
                                                .table__item-no-sortable Location
                                            th.table__item.table__item_head.table__item_action
                                    tbody.table__body
                                        tr.table__line
                                            td.table__item.table__item_body Date of Last Service
                                            td.table__item.table__item_body 10.06.2022
                                            td.table__item.table__item_body PSC-077
                                            td.table__item.table__item_body Marbella Bike
                                            td.table__item.table__item_body.text-end
                                                a.btn.btn-secondary.btn--small(href="#") Full information
                                        tr.table__line
                                            td.table__item.table__item_body Next Service in km/miles
                                            td.table__item.table__item_body 1000 km / 621 miles
                                            td.table__item.table__item_body 
                                            td.table__item.table__item_body 
                                            td.table__item.table__item_body.text-end
                                                a.btn.btn-secondary.btn--small(href="#") Change
                                        tr.table__line
                                            td.table__item.table__item_body Next Service in days
                                            td.table__item.table__item_body 343 days
                                            td.table__item.table__item_body 
                                            td.table__item.table__item_body 
                                            td.table__item.table__item_body.text-end
                                                a.btn.btn-secondary.btn--small(href="#") Change
            .content__inside-footer
                .row.align-items-center.mt-5
                    .col-12.col-md-7.col-lg-8
                    .col-12.col-md-5.col-lg-4
                        a.logs(href="#" data-toggle="modal" data-target="#logsModal")
                            span.logs__heading Show logs
                            span.logs__intro Last Update: 10/04/2022 15:40
        .content__footer 
            p.content__footer-intro Carbogatto LLC © 2022 All Rights Reserved. Version 1.0.0.1    
    //- Modal View Request Param
    .modal.fade(id="requestViewModal" tabindex="-1" aria-labelledby="requestViewModalLabel" aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    p.modal-title(id="requestViewModalLabel") Request to Change Parametr
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    p 
                        span.font-secondary Parametr: 
                        span.text-bold Serial Number
                    p 
                        span.font-secondary Value: 
                        span.text-bold DTDSPL2203
                    p 
                        span.font-secondary Old Value: 
                        span.text-bold DTDSPL220
                    .modal__confirmation.mt-3
                            a.btn.btn-danger.btn--full(href="#") Cancel
                            a.btn.btn-success.btn--full(href="#") Approve
    //- Modal Request Param
    .modal.fade(id="requestParamModal" tabindex="-1" aria-labelledby="requestParamModalLabel" aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    p.modal-title(id="requestParamModalLabel") Request to Change Parametr
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    form.form(action="")
                        .mb-4
                            .form__label.form__label_secondary Serial Number
                            input.input.input--full(type="text" placeholder="Enter Serial Number" value="DTDSPL2203")
                        .modal__confirmation.mt-3
                            a.btn.btn-danger.btn--full(href="#") Cancel
                            a.btn.btn-primary.btn--full(href="#") Send Request
    //- Modal Change Param
    .modal.fade(id="changeParamModal" tabindex="-1" aria-labelledby="changeParamModalLabel" aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    p.modal-title(id="changeParamModalLabel") Change Parametr
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    form.form(action="")
                        .mb-4
                            .form__label.form__label_secondary Serial Number
                            input.input.input--full(type="text" placeholder="Enter Serial Number" value="DTDSPL2203")
                        .modal__confirmation.mt-3
                            a.btn.btn-danger.btn--full(href="#") Cancel
                            a.btn.btn-success.btn--full(href="#") Save
    